* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  background-color: #ddd;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  background-color: White;
  height: 400px;
}

.square {
  /* border: 1px solid; */
  /* background-color: Red; */
}
