* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: 16rem; */
}

.square {
  background-color: Red;
  width: 1rem;
  height: 1rem;
  /* border: 1px solid; */
}
